*{
	margin: 0;
	padding: 0;
}
.lei{
	width: 1000px;
}
.a{
	/*width: 50%;*/
	/*height: 10rem;
	background: red;*/
}
.row{
	margin-right: 0;
    margin-left: 0;
}
.b{
	padding-right: 0;
    padding-left: 0;
    background: red;
    height: 50px;
}
.c{
	background-color: #000000;
	 height: 50px;
}
